{% extends "base.html" %}

{% block title %}{{ SITENAME }} - Categories {% endblock %}
{% block description %}{% endblock %}

{% block content %}
<header class="w3-container w3-center w3-padding-32">
    <h1><a href="{{ SITEURL }}/">Categories</a></h1>
    </header>
    <div class="w3-col l9 s12">
    {% for category, articles in categories %}
    <h2><a href="{{ SITEURL}}/{{ category.url}}">{{ category|capitalize }}</a></h2>
        {% for article in articles %}



  <div class="w3-card-4 w3-margin w3-white">
	  <div class="w3-container">
	  <h3><a href="{{ SITEURL }}/{{ article.url }}" class="title-block">{{ article.title }}</a></h3>
	  <p class="blurb">
                <time datetime="{{ article.date.strftime('%Y-%m-%d') }}">{{ article.locale_date }}</time>
            </p>
            <p>{{ ' '.join(article.content.split(' ')[0:75])|striptags }}...</p>
        </div>
        </div>
    
  
        {% endfor %}
        
        {% endfor %}
	 </div>
	 
 
{% block footer %}
{% include 'credits.html' %}
{% endblock %} 
