{% extends "base.html" %}
{% block content %}

{% block content_title %}
{% endblock %}




{# show summaries of the latest articles #}
{% if articles %}
{% for article in (articles_page.object_list if articles_page else articles) %}
		<div class="w3-card w3-margin ">
			<div class="w3-container">
				<h3><a href="{{ SITEURL }}/{{ article.url }}">{{ article.title }}</a></h3>
				<h6> <i class="fi-torsos"></i> <a href="{{ SITEURL }}/author/{{ article.author|lower|replace(' ', '-') }}.html">{{ article.author }}</a> {% if article.category %} <i class="fi-archive"></i> <a href="{{ SITEURL }}/{{ article.category.url }}">{{ article.category}}</a> {% endif %} <i class="fi-clock"></i> {{ article.locale_date }}.{% if article.tags|count > 0 %} <i class="fa fa-tags" aria-hidden="true"></i> {% for tag in article.tags %}<a href="{{ SITEURL }}/{{ tag.url }}">{{ tag }}</a> , {% endfor %}{% endif %}</h6>
			</div>
			<div class="w3-container">
			<p>
					{{ article.summary }}            
			</p>
			{# add a 'Continue reading' link if we're displaying summaries #}
			<p class="comment"></p>
			<p class="continue"><a href="{{ SITEURL }}/{{ article.url }}">Continue reading &raquo;</a></p>
			</div>
		</div>
{% endfor %}
{%endif%}

{# deal with pagination #}
{% if articles_page and articles_paginator.num_pages > 1 %}
<div class="w3-row w3-container w3-text-center w3-center">
	<ul>
		{% if articles_page.has_previous() %}
				{% set num = articles_page.previous_page_number() %}
				<li><a class="w3-button w3-black w3-margin w3-hover-red w3-round-large" href="{{ SITEURL }}/{{ page_name }}{{ num if num > 1 else '' }}.html">&laquo;</a>
		{% else %}
<button class="w3-button w3-black w3-margin">prev</button>
<button class="w3-button w3-black w3-margin">next</button>
</div>

